@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header-content {
  max-width: 60rem;
  text-align: center;
  padding: 0 2rem;

  .top-title {
    display: block;
    font-size: 2.1rem;
    color: $link;
  }

  .title {
    font-size: 7.6rem;
    line-height: 8rem;
    color: $white;
  }

  .caption {
    display: block;
    color: $lightGray;
    margin-top: 2rem;
  }

  @include device(laptop) {
    max-width: 50rem;

    .top-title {
      font-size: 1.8rem;
    }

    .title {
      font-size: 6rem;
      line-height: 6rem;
    }
  }

  @include device(tablet) {
    margin-bottom: 8rem;
  }

  @include device(mobile) {
    .title {
      font-size: 5rem;
      line-height: 5rem;
    }

    .caption {
      font-size: 1.6rem;
    }
  }

  @include device(small) {
    .top-title {
      font-size: 1.6rem;
    }

    .title {
      font-size: 4rem;
      line-height: 4.5rem;
    }
  }
}
