@import 'styles/variables.scss';

.header {
  height: 48rem;
  margin-bottom: 10rem;
  background-image: linear-gradient(to bottom right, rgba($gradientOne, 0.97), rgba($gradientTwo, 0.97)),
    url('../../public/images/header-background.jpg');
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45rem, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 45rem, 0 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
